body {
  min-height: 100vh;
  background-size: cover;
  background: radial-gradient(at center top, #01ffea, #0fa3d8) no-repeat fixed;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
body nav {
  display: flex;
  background-color: rgb(216.75, 216.75, 216.75);
  outline: none;
  min-height: 10vh;
  opacity: 0.7;
}
body nav .menu-button {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  color: black;
  min-height: 100%;
  min-width: 12vw;
  background-color: white;
  padding: 20px;
  font-size: 40px;
  border: none;
  transition: background-color 0.4s ease-in, scale 0.4s ease-in;
}
body nav .menu-button:hover {
  background-color: rgb(178.5, 178.5, 178.5);
  scale: 1.05;
}
body nav .menu-button .menu-icon {
  height: 50px;
  width: 50px;
  margin-left: -20px;
}
body nav .menu-button .menu-icon .menu-icon-svg {
  height: 50px;
  width: 50px;
  position: absolute;
}
@media (max-width: 720px) {
  body nav {
    align-items: stretch;
  }
  body nav .menu-button {
    font-size: 0px;
    flex-grow: 1;
  }
}
@media (max-width: 1080px) and (min-width: 720px) {
  body nav .menu-icon {
    display: none;
  }
}
@media (max-width: 1080px) and (min-width: 500px) {
  body nav {
    align-items: stretch;
  }
  body nav .menu-button {
    flex-grow: 1;
  }
}
body #contact-button {
  background-color: rgb(242.25, 242.25, 242.25);
}
body #contact-button:hover {
  background-color: rgb(165.75, 165.75, 165.75);
}
body #settings-button {
  background-color: rgb(229.5, 229.5, 229.5);
}
body #settings-button:hover {
  background-color: #999999;
}
body #info-button {
  background-color: rgb(216.75, 216.75, 216.75);
}
body #info-button:hover {
  background-color: rgb(140.25, 140.25, 140.25);
}
body main {
  min-height: 85vh;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}
@media (max-width: 720px) {
  body main {
    min-height: 70vh;
  }
}
body main #clock-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  user-select: none;
  opacity: 0.8;
  transition: opacity 0.4s ease-in;
  position: relative;
}
body main #clock-section:hover {
  opacity: 0.6;
}
body main #clock-section #clock {
  font-size: 160px;
  transition: font-size 0.5s ease-out;
  position: relative;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
body main #clock-section #clock:hover {
  font-size: 168px;
}
body main #clock-section .clock-addicional-info {
  font-size: 80px;
  text-shadow: 0.1vw 0.1vw 0.15vw white;
  position: absolute;
  transform: translateX(0);
  transform: translateX(0);
  left: calc(50% + 240px);
  top: 45%;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
body main #clock-section #clock-seconds {
  top: 45%;
}
body main #clock-section #clock-am-pm {
  top: 10%;
}
@media (max-width: 570px) {
  body main #clock-section #clock {
    font-size: 80px;
    text-shadow: 0.1vw 0.1vw 0.7vw white;
    transition: font-size 0.5s ease-out;
  }
  body main #clock-section #clock:hover {
    font-size: 80px;
  }
  body main #clock-section .clock-addicional-info {
    font-size: 32px;
    text-shadow: 0.05vw 0.05vw 0.07vw white;
    left: calc(50% + 84px);
  }
  body main #clock-section #clock-seconds {
    top: 45%;
  }
  body main #clock-section #clock-am-pm {
    top: 3%;
  }
}
@media (max-width: 720px) {
  body main #clock-section #clock {
    font-size: 80px;
    text-shadow: 0.1vw 0.1vw 0.7vw white;
    transition: font-size 0.5s ease-out;
  }
  body main #clock-section #clock:hover {
    font-size: 80px;
  }
  body main #clock-section .clock-addicional-info {
    font-size: 40px;
    text-shadow: 0.07vw 0.07vw 0.7vw white;
    left: calc(50% + 120px);
  }
  body main #clock-section #clock-seconds {
    top: 45%;
  }
  body main #clock-section #clock-am-pm {
    top: 3%;
  }
}
body main #content {
  transition: opacity 0.15s ease-out;
}
body main #content.change {
  opacity: 0.2;
}
body main #content #map-container {
  align-self: center;
  overflow: visible;
  position: relative;
}
body main #content #map-container #alt_map-button {
  background-color: white;
  border: none;
  width: 100px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease-in;
  background: rgba(255, 255, 255, 0.3);
  height: 36px;
  font-size: 22.5px;
  font-family: "Titillium Web", sans-serif;
}
body main #content #map-container #alt_map-button:hover {
  background-color: rgb(178.5, 178.5, 178.5);
}
body main #content #map-container #map {
  position: relative;
  margin: auto;
  width: 600px;
}
@media (min-width: 1920px) {
  body main #content #map-container #map {
    width: 700px;
  }
}
@media (min-width: 1400px) {
  body main #content #map-container #map {
    width: 1000px;
  }
}
body main #content #map-container #map svg {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: block;
}
@media (max-width: 720px) {
  body main #content #map-container {
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    display: block;
    border: black 2px solid;
  }
  body main #content #map-container #map {
    width: 3000px;
    margin: 0 auto;
    display: block;
    right: 100%;
  }
  body main #content #map-container #map:hover {
    width: 3000px;
  }
}
body main #content #map-container-alt {
  width: 600px;
  height: 400px;
}
@media (min-width: 1920px) {
  body main #content #map-container-alt {
    width: 700px;
  }
}
@media (min-width: 1400px) {
  body main #content #map-container-alt {
    width: 1000px;
  }
}
body main #content #map-container-alt {
  overflow: visible;
  overflow-x: scroll;
  display: block;
  border: black 2px solid;
  margin: 0 auto;
  position: relative;
  opacity: 0.5;
  resize: both;
}
body main #content #map-container-alt #map {
  width: 3000px;
  margin: 0 auto;
  display: block;
  right: 100%;
}
body main #content #clock-button {
  background-color: white;
  border: none;
  position: absolute;
  right: calc(50% - 50px);
  width: 100px;
  z-index: 10;
  padding: auto;
  transition: background-color 0.2s ease-in;
  background: rgba(255, 255, 255, 0.3);
  height: 36px;
  font-size: 22.5px;
  font-family: "Titillium Web", sans-serif;
}
body main #content #clock-button:hover {
  background-color: rgb(178.5, 178.5, 178.5);
}
body main #content .contact-form {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  width: 50%;
}
@media (max-width: 570px) {
  body main #content .contact-form {
    width: 100%;
  }
}
@media (max-width: 720px) {
  body main #content .contact-form {
    width: 75%;
  }
}
body main #content .contact-form .form-title {
  font-size: 45px;
  text-shadow: 1.5px 1.5px 3px white;
}
body main #content .contact-form label {
  margin-bottom: 10px;
  color: white;
  text-shadow: 0.6px 0.6px 2.1px white;
}
body main #content .contact-form input {
  width: 80%;
  height: 30px;
  font-size: 22.5px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  color: black;
  border: 2px black;
}
@media (max-width: 720px) {
  body main #content .contact-form input {
    width: 100%;
  }
}
body main #content .contact-form select {
  width: 80%;
  height: 30px;
  font-size: 22.5px;
  margin-bottom: 10px;
  color: black;
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
@media (max-width: 720px) {
  body main #content .contact-form select {
    width: 100%;
  }
}
body main #content .contact-form .submit-button {
  background-color: white;
  border: none;
  width: 50%;
  transition: background-color 0.2s ease-in;
  background: rgba(255, 255, 255, 0.9);
  height: 36px;
  font-size: 22.5px;
}
@media (max-width: 720px) {
  body main #content .contact-form .submit-button {
    width: 70%;
    height: 37.5px;
  }
}
body main #content .contact-form .submit-button:hover {
  background-color: rgb(178.5, 178.5, 178.5);
}
body main #content .contact-form textarea {
  height: 300px;
  font-size: 15px;
  margin-bottom: 10px;
  color: black;
  border: none;
  width: 70%;
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 720px) {
  body main #content .contact-form textarea {
    width: 100%;
  }
}
body main #settings-container {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  font-size: 30px;
  align-items: baseline;
  justify-content: center;
  flex-grow: 3;
  flex-wrap: wrap;
  padding: 5px 5px 10px 5px;
  margin: auto;
  width: 80%;
  row-gap: 10px;
}
body main #settings-container .settings-options {
  flex: 0 0 48%;
  overflow: scroll;
  border: 2px solid rgba(0, 0, 0, 0.5);
  margin: 5px;
}
@media (max-width: 720px) {
  body main #settings-container .settings-options {
    width: 100%;
  }
}
body main #settings-container .settings-options .settings-option {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  color: black;
  transition: background-color 0.2s ease-in;
  user-select: none;
}
body main #settings-container .settings-options .settings-option:hover {
  background-color: rgba(204, 204, 204, 0.5);
}
@media (max-width: 1080px) {
  body main #settings-container {
    width: 100%;
  }
}
body #info {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  text-align: justify;
  padding: 0px 5px 10px 5px;
  margin: auto;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
body #info .info-more-button {
  user-select: none;
  background: none;
  border: none;
  outline: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}
body #info .info-more {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
body footer {
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  min-height: min-content;
  background-color: white;
  opacity: 0.5;
  text-align: center;
  font-size: 25px;
  margin-top: 0px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 3px white, 0 0 5px white, 0 0 8px rgb(229.5, 229.5, 229.5), 0 0 10px rgb(216.75, 216.75, 216.75), 0 0 13px #cccccc;
  }
  to {
    text-shadow: 0 0 3px white, 0 0 6px white, 0 0 7px rgb(229.5, 229.5, 229.5), 0 0 10px rgb(216.75, 216.75, 216.75), 0 0 23px #cccccc;
  }
}

/*# sourceMappingURL=style.css.map */
